.App {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid black;
  width: 400px;
  height: 400px;
  padding: 10px;
}

.chess-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.blue {
  background-color: lightblue;
}

.red {
  background-color: lightcoral;
}

.chess-piece {
  position: absolute;
  /* width: 60px;
  height: 60px; */
  border-radius: 50%;
  font-size: 65px;
  display: inline-block;
  line-height: 1;
}

.chess-piece.dragging {
  transform: scale(1.2);
}

.outer-square {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-square {
  width: 90%;
  height: 90%;
  border: 2px solid black;
  display: inline-block;
  /* grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr); */
  /* margin-bottom: -10%; */
}

.small-square {
  /* position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid; */
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  background-color: white;
}

.dark {
  background-color: rgb(221, 221, 221);
}

.grid-board {
  border: 1px solid black;
}

.row {
  display: flex;
}
